#navbar{
    display: flex; 
    flex-direction: row; 
    #nav-items{
        display: flex; 
        flex-direction: row; 
        a{
            text-decoration: none;

        }
        ul{
            list-style: none; 
        }
    }
}
p{
    color: pink; 
}